server:
  name: test.server.com
  user: root
  port: 22
ufw_simple:
  enabled: True
  allow:
    rule_1:
      proto: 'tcp'
      from:
        - group.group_one
        - group.backup_server
      to_port: '3306'
    rule_2:
      proto: 'tcp'
      from:
        - group.group_one.home ip 1
        - group.backup_server.another_server_com
      to_port: '22'
    rule_3:
      from:
        - group.all_servers
    rule_4:
      proto: 'tcp'
      from:
        - group.group_one.home ip 2
      to_port: '80,443,8080'
    world:
      proto: 'tcp'
      to_port: 22
  deny:
    rule_1:
      proto: 'tcp'
      from:
        - group.all_servers
      to_port: '22'
