all_ips:
  static_ips:
    home ip 1: 192.168.0.10
    home ip 2: 192.168.0.20
    vpn ip: 192.168.0.30
    office ip: 192.168.0.40
  servers:
    server_one_com: 10.10.0.10
    server_two_com: 10.10.0.20
    example_server_come: 10.10.0.30