group:
  group_one:
    home ip 1: 127.0.0.1
    home ip 2: 172.0.0.1
  backup_server:
    backup_example_com: 192.168.0.100
    another_server_com: 192.168.0.105
  all_servers:
    server_1_com: 192.168.0.101
    server_2_com: 192.168.0.102
    server_3_com: 192.168.0.103